#carousel_homepage .ant-carousel .slick-dots li button {
    background: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}
#carousel_homepage .ant-carousel .slick-dots {
    z-index: 0;
}
#carousel_homepage .ant-carousel .slick-dots li.slick-active button {
    background: red;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more {
    display: none;
}
#switch_addNew .ant-switch-checked {
    background-color: #1890ff;
}
.ant-btn-primary {
    background-color: #1890ff;
}
