.ghe {
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 7px;
    background-color: rgb(216, 214, 215);
}
.gheVip {
    background-color: rgb(234, 163, 32);
}
.gheDaDat {
    background-color: rgb(95, 89, 89);
    cursor: no-drop;
}
.gheDangDat {
    background-color: rgb(18, 176, 18) !important;
}

.checkout {
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
